<div class="container p-lg-5">
    <div class="row shadow">
        <div class="photo  col-md-6 ">
            <img class="w-100" src="./assets/imges/gaming.ebaf2ffc84f4451d.jpg" alt="">

        </div>
        <div class="col-md-6">
                <div class="container  text-center p-4">
                    <img class="w-25"src="./assets/imges/logo.png" alt="">
                    <h4 class="text-muted mb-5"> LOGIN TO GAME OVER</h4>
                    <div *ngIf="ApiError " class="alert alert-danger">
                        {{ApiError}}
                    </div>
                    <form (ngSubmit)="handeLogin(loginForm)" [formGroup]="loginForm">
                        <input formControlName="email" type="email" placeholder="Email" class="m-2 bg-black form-control">
                        <div *ngIf="loginForm.get('email')?.errors &&loginForm.get('email')?.touched " class="m-0 alert alert-danger">
                         <p *ngIf="loginForm.get('email')?.getError('required')" >required</p>
                         <p *ngIf="loginForm.get('email')?.getError('email')"> Invalid Email</p>
                        
                     
                     </div>
                     <input formControlName="password" class="m-2 bg-black form-control " placeholder="password" type="Password">
                     <div *ngIf="loginForm.get('password')?.errors &&loginForm.get('password')?.touched " class="alert alert-danger">
                         <p *ngIf="loginForm.get('password')?.getError('required')" >required</p>
                         <p *ngIf="loginForm.get('password')?.getError('pattern')">must contain uppercase & any special char</p>
                     
                     </div>
                    <button [disabled]="loginForm.invalid" class="btn btn-dark w-100 m-3 text-muted" type="submit">
                        <i *ngIf="IsLoading" class="fas fa-spinner fa-spin"></i>
                        <span *ngIf="!IsLoading">LogIN</span>
                    </button>
                       <a class="text-muted text-decoration-none" href="https://policies.google.com/privacy">This site is protected by reCAPTCHA and the Google Privacy Policy and Terms of Service apply.</a>
                       <hr>
                        <a href="#">Forgot password</a>

                    </form>
  

                </div>
            
                
            </div>
            

       
    </div>

</div>

